In [1]:
import pandas as pd
dic = {1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}
df = pd.DataFrame(dic)
df

   1  2  3
0  1  4  7
1  4  5  8
2  3  6  9
3  4  7  0
4  5  8  1

In [2]:
df.loc[df[1]==4]

   1  2  3
1  4  5  8
3  4  7  0