In [21]:
import pandas as pd
import seaborn as sns
import sklearn

In [23]:
datos = pd.read_csv('/Users/ferminiturriaga/Downloads/Datos(1).csv', sep = ',')
datos

,Nombres,Mail,Dirección,Sueldo,Altura
0,Darryl,Nullam.vitae.diam@risusMorbimetus.org,"P.O. Box 572, 4082 Nunc Av.",76653.0,1.22
1,Beatrice,Mauris.vestibulum.neque@purusaccumsaninterdum.ca,"P.O. Box 710, 7929 Enim Rd.",77846.0,2.03
2,Diana,lacus.Nulla@eumetusIn.org,5732 Penatibus Road,79301.0,1.41
3,Justina,vel.convallis.in@sem.co.uk,969-5096 Phasellus Ave,101770.0,2.18
4,Shana,Proin@Suspendissesagittis.com,4307 Aliquet Ave,73593.0,1.91
...,...,...,...,...,...
101,Lacota,lobortis.mauris@posuerecubiliaCurae.net,"P.O. Box 794, 6194 Mauris Rd.",103061.0,1.94
102,Gisela,adipiscing@Sedeu.com,427-5396 Vivamus Av.,56960.0,1.65
103,Dacey,Class@mienim.edu,Ap #485-3637 Justo Avenue,124130.0,1.43
104,Whitney,dui@semegetmassa.edu,8836 Donec Av.,70261.0,1.35
105,Aiko,lacinia@sedpedenec.co.uk,"P.O. Box 263, 3970 Consequat St.",108380.0,1.31

In [24]:
datos.describe()

              Sueldo      Altura
count     103.000000  104.000000
mean    97675.067961    1.942596
std     48315.130888    1.557438
min     51582.000000    1.120000
25%     72589.500000    1.570000
50%     97933.000000    1.745000
75%    114400.000000    1.940000
max    520083.000000   13.730000