In [1]:
import pandas as pd

In [2]:
personas = pd.read_csv('/Users/ferminiturriaga/Desktop/UCEMA/2021/F_de_Informatica/F. de Informática/Python avanzado/Ciencia de Datos/Data/personas_2011.csv')

In [3]:
personas

      persona_id;anio;sexo_id;edad;maximo_grado_academico_id;disciplina_maximo_grado_academico_id;disciplina_titulo_grado_id;disciplina_experticia_id;tipo_personal_id;producciones_ult_anio;producciones_ult_2_anios;producciones_ult_3_anios;producciones_ult_4_anios;institucion_trabajo_id;seniority_level;categoria_conicet_id;categoria_incentivos;max_dedicacion_horaria_docente_id;institucion_cargo_docente_id;clase_cargo_docente_id;tipo_condicion_docente_id
0      1;2011;2;36;-1;-1;-1;64;4;0;1;1;1;4488;   ;-1;...
1      5;2011;1;48;1;255;255;255;3;5;7;13;17;118;B  ;...
2      7;2011;2;30;5;111;111;158;1;11;13;13;13;587;D ...
3      10;2011;2;51;5;248;248;29;4;0;1;3;4;44;   ;-1;...
4      11;2011;1;39;2;223;203;280;3;8;12;15;18;7310;C...
...                                                  ...
68547  185558;2011;2;-1;-1;-1;-1;263;2;-1;-1;-1;-1;22...
68548  185574;2011;2;55;-1;-1;-1;38;2;0;0;0;0;10971; ...
68549  185583;2011;2;18;7;-1;-1;216;2;-1;-1;-1;-1;106...
68550  185590;2011;2;-1;8;-1;-1;250;2;-1;-1;-1;-1;396...
68551  185608;2011;1;27;5;227;227;252;2;-1;-1;-1;-1;3...

[68552 rows x 1 columns]

In [4]:
personas

      persona_id;anio;sexo_id;edad;maximo_grado_academico_id;disciplina_maximo_grado_academico_id;disciplina_titulo_grado_id;disciplina_experticia_id;tipo_personal_id;producciones_ult_anio;producciones_ult_2_anios;producciones_ult_3_anios;producciones_ult_4_anios;institucion_trabajo_id;seniority_level;categoria_conicet_id;categoria_incentivos;max_dedicacion_horaria_docente_id;institucion_cargo_docente_id;clase_cargo_docente_id;tipo_condicion_docente_id
0      1;2011;2;36;-1;-1;-1;64;4;0;1;1;1;4488;   ;-1;...
1      5;2011;1;48;1;255;255;255;3;5;7;13;17;118;B  ;...
2      7;2011;2;30;5;111;111;158;1;11;13;13;13;587;D ...
3      10;2011;2;51;5;248;248;29;4;0;1;3;4;44;   ;-1;...
4      11;2011;1;39;2;223;203;280;3;8;12;15;18;7310;C...
...                                                  ...
68547  185558;2011;2;-1;-1;-1;-1;263;2;-1;-1;-1;-1;22...
68548  185574;2011;2;55;-1;-1;-1;38;2;0;0;0;0;10971; ...
68549  185583;2011;2;18;7;-1;-1;216;2;-1;-1;-1;-1;106...
68550  185590;2011;2;-1;8;-1;-1;250;2;-1;-1;-1;-1;396...
68551  185608;2011;1;27;5;227;227;252;2;-1;-1;-1;-1;3...

[68552 rows x 1 columns]

In [5]:
personas.head(10)

  persona_id;anio;sexo_id;edad;maximo_grado_academico_id;disciplina_maximo_grado_academico_id;disciplina_titulo_grado_id;disciplina_experticia_id;tipo_personal_id;producciones_ult_anio;producciones_ult_2_anios;producciones_ult_3_anios;producciones_ult_4_anios;institucion_trabajo_id;seniority_level;categoria_conicet_id;categoria_incentivos;max_dedicacion_horaria_docente_id;institucion_cargo_docente_id;clase_cargo_docente_id;tipo_condicion_docente_id
0  1;2011;2;36;-1;-1;-1;64;4;0;1;1;1;4488;   ;-1;...
1  5;2011;1;48;1;255;255;255;3;5;7;13;17;118;B  ;...
2  7;2011;2;30;5;111;111;158;1;11;13;13;13;587;D ...
3  10;2011;2;51;5;248;248;29;4;0;1;3;4;44;   ;-1;...
4  11;2011;1;39;2;223;203;280;3;8;12;15;18;7310;C...
5  12;2011;2;48;1;58;57;55;1;1;2;2;3;578;B  ;-1;3...
6  13;2011;2;41;5;192;192;281;4;0;0;0;0;517;   ;-...
7  15;2011;1;46;1;258;258;49;3;4;7;9;12;444;B  ;-...
8  17;2011;2;53;2;281;199;151;3;0;0;1;2;691;C  ;-...
9  19;2011;2;52;1;255;255;255;3;0;1;1;2;122;A  ;3...

In [6]:
personas = personas.rename(columns = {"clase_cargo_docente_id": "clase_cargo_id"})
personas = personas.rename(columns = {"disciplina_titulo_grado_id": "disciplina_id"})
personas = personas.rename(columns = {"disciplina_maximo_grado_academico_id": "grado_academico_id"})
personas = personas.rename(columns = {"max_dedicacion_horaria_docente_id": "tipo_dedicacion_horaria_semanal_id"})

In [7]:
personas_full = pd.read_csv('/Users/ferminiturriaga/Desktop/UCEMA/2021/F_de_Informatica/F. de Informática/Python avanzado/Ciencia de Datos/Data/personas_full.csv')

In [8]:
personas_full

,persona_id,anio,sexo_id,edad,grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,tipo_dedicacion_horaria_semanal_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id,sexo_descripcion
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0,MASCULINO
1,7,2011,2,30,5,111,111,158,1,11,...,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN,MASCULINO
2,10,2011,2,51,5,248,248,29,4,0,...,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0,MASCULINO
3,12,2011,2,48,1,58,57,55,1,1,...,3,578,B,-1.0,3.0,1.0,578.0,19.0,1.0,MASCULINO
4,13,2011,2,41,5,192,192,281,4,0,...,0,517,,-1.0,-1.0,3.0,517.0,22.0,1.0,MASCULINO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,185439,2011,1,53,5,106,106,250,2,-1,...,-1,8312,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO
68548,185455,2011,1,-1,-1,-1,-1,47,2,-1,...,-1,398,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO
68549,185513,2011,1,24,-1,-1,-1,147,4,-1,...,-1,11088,,-1.0,-1.0,3.0,192.0,22.0,1.0,FEMENINO
68550,185515,2011,1,21,7,-1,-1,282,2,-1,...,-1,1735,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO
68551,185608,2011,1,27,5,227,227,252,2,-1,...,-1,3765,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO

In [9]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [10]:
import seaborn as sns
import matplotlib.pyplot as pit

ModuleNotFoundError: No module named 'seaborn'

In [11]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
     |████████████████████████████████| 285 kB 2.1 MB/s
Collecting matplotlib>=2.2
  Downloading matplotlib-3.4.2-cp39-cp39-macosx_10_9_x86_64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 7.1 MB/s
Collecting scipy>=1.0
  Downloading scipy-1.6.3-cp39-cp39-macosx_10_9_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 6.4 MB/s
Requirement already satisfied: numpy>=1.15 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from seaborn) (1.20.3)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from seaborn) (1.2.4)
Collecting pyparsing>=2.2.1
  Downloading pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 5.4 MB/s
Collecting pillow>=6.2.0
  Downloading Pillow-8.2.0-cp39-cp39-macosx_10_10_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 6.1 MB/s
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp39-cp39-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 877 kB/s
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, cycler, matplotlib, scipy, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2 pillow-8.2.0 pyparsing-2.4.7 scipy-1.6.3 seaborn-0.11.1
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [13]:
import seaborn as sns
import matplotlib.pyplot as pit