In [21]:
import pandas as pd

In [22]:
personas = pd.read_csv('/Users/ferminiturriaga/Desktop/UCEMA/2021/F_de_Informatica/F. de Inform√°tica/Python avanzado/Ciencia de Datos/Data/personas_2011.csv', sep = ';')

In [23]:
personas

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0
1,5,2011,1,48,1,255,255,255,3,5,...,13,17,118,B,2.0,3.0,3.0,118.0,19.0,2.0
2,7,2011,2,30,5,111,111,158,1,11,...,13,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN
3,10,2011,2,51,5,248,248,29,4,0,...,3,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0
4,11,2011,1,39,2,223,203,280,3,8,...,15,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,185558,2011,2,-1,-1,-1,-1,263,2,-1,...,-1,-1,221,,NaN,NaN,NaN,NaN,NaN,NaN
68548,185574,2011,2,55,-1,-1,-1,38,2,0,...,0,0,10971,,NaN,NaN,NaN,NaN,NaN,NaN
68549,185583,2011,2,18,7,-1,-1,216,2,-1,...,-1,-1,10624,,NaN,NaN,NaN,NaN,NaN,NaN
68550,185590,2011,2,-1,8,-1,-1,250,2,-1,...,-1,-1,396,,NaN,NaN,NaN,NaN,NaN,NaN
68551,185608,2011,1,27,5,227,227,252,2,-1,...,-1,-1,3765,,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
personas.head(10)

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0
1,5,2011,1,48,1,255,255,255,3,5,...,13,17,118,B,2.0,3.0,3.0,118.0,19.0,2.0
2,7,2011,2,30,5,111,111,158,1,11,...,13,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN
3,10,2011,2,51,5,248,248,29,4,0,...,3,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0
4,11,2011,1,39,2,223,203,280,3,8,...,15,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0
5,12,2011,2,48,1,58,57,55,1,1,...,2,3,578,B,-1.0,3.0,1.0,578.0,19.0,1.0
6,13,2011,2,41,5,192,192,281,4,0,...,0,0,517,,-1.0,-1.0,3.0,517.0,22.0,1.0
7,15,2011,1,46,1,258,258,49,3,4,...,9,12,444,B,-1.0,3.0,1.0,444.0,21.0,1.0
8,17,2011,2,53,2,281,199,151,3,0,...,1,2,691,C,-1.0,4.0,3.0,192.0,62.0,3.0
9,19,2011,2,52,1,255,255,255,3,0,...,1,2,122,A,3.0,1.0,1.0,4009.0,18.0,1.0

In [25]:
conicet = pd.read_csv("/Users/ferminiturriaga/Desktop/UCEMA/2021/F_de_Informatica/F. de Inform√°tica/Python avanzado/Ciencia de Datos/Data/ref_categoria_conicet.csv", sep=";")
len(conicet)
conicet

    categoria_conicet_id  categoria_conicet_descripcion
0                     -1         No pertenece a Conicet
1                      1         Investigador asistente
2                      2           Investigador adjunto
3                      3     Investigador independiente
4                      4         Investigador principal
5                      5          Investigador superior
6                      6               Becario doctoral
7                      7           Becario postdoctoral
8                      8              Personal de apoyo
9                      9                    Gesti√≥n CyT
10                    10                        Pasante
11                    11          Otro personal Conicet
12                    12   Investigador correspondiente
13                    13  Investigador superior em√©rito

In [26]:
personas = personas.rename(columns = {"clase_cargo_docente_id": "clase_cargo_id"})
personas = personas.rename(columns = {"disciplina_titulo_grado_id": "disciplina_id"})
personas = personas.rename(columns = {"disciplina_maximo_grado_academico_id": "grado_academico_id"})
personas = personas.rename(columns = {"max_dedicacion_horaria_docente_id": "tipo_dedicacion_horaria_semanal_id"})

In [27]:
personas_full = pd.read_csv('/Users/ferminiturriaga/Desktop/UCEMA/2021/F_de_Informatica/F. de Inform√°tica/Python avanzado/Ciencia de Datos/Data/personas_full.csv')

In [28]:
personas_full

,persona_id,anio,sexo_id,edad,grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,tipo_dedicacion_horaria_semanal_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id,sexo_descripcion
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0,MASCULINO
1,7,2011,2,30,5,111,111,158,1,11,...,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN,MASCULINO
2,10,2011,2,51,5,248,248,29,4,0,...,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0,MASCULINO
3,12,2011,2,48,1,58,57,55,1,1,...,3,578,B,-1.0,3.0,1.0,578.0,19.0,1.0,MASCULINO
4,13,2011,2,41,5,192,192,281,4,0,...,0,517,,-1.0,-1.0,3.0,517.0,22.0,1.0,MASCULINO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,185439,2011,1,53,5,106,106,250,2,-1,...,-1,8312,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO
68548,185455,2011,1,-1,-1,-1,-1,47,2,-1,...,-1,398,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO
68549,185513,2011,1,24,-1,-1,-1,147,4,-1,...,-1,11088,,-1.0,-1.0,3.0,192.0,22.0,1.0,FEMENINO
68550,185515,2011,1,21,7,-1,-1,282,2,-1,...,-1,1735,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO
68551,185608,2011,1,27,5,227,227,252,2,-1,...,-1,3765,,NaN,NaN,NaN,NaN,NaN,NaN,FEMENINO

In [29]:
personas_full.edad

0        36
1        30
2        51
3        48
4        41
         ..
68547    53
68548    -1
68549    24
68550    21
68551    27
Name: edad, Length: 68552, dtype: int64

In [30]:
mayores = personas_full.sort_values(by="edad", ascending=False).head(10)
mayores

,persona_id,anio,sexo_id,edad,grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,tipo_dedicacion_horaria_semanal_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id,sexo_descripcion
2356,6522,2011,2,88,1,1,-1,-1,3,0,...,8,3993,A,5.0,1.0,1.0,3993.0,69.0,1.0,MASCULINO
19486,63317,2011,2,85,5,107,107,259,4,0,...,0,247,,-1.0,-1.0,3.0,219.0,23.0,2.0,MASCULINO
14466,44842,2011,2,84,1,118,118,271,3,12,...,28,211,S/D,-1.0,-1.0,3.0,211.0,17.0,1.0,MASCULINO
3397,9442,2011,2,84,-1,-1,-1,46,3,4,...,19,3397,A,-1.0,1.0,3.0,3396.0,69.0,3.0,MASCULINO
6372,18569,2011,2,84,1,255,255,58,3,3,...,11,431,A,-1.0,1.0,1.0,430.0,17.0,1.0,MASCULINO
5453,15685,2011,2,83,1,233,233,233,3,0,...,12,186,S/D,-1.0,-1.0,3.0,186.0,59.0,2.0,MASCULINO
5316,15238,2011,2,83,3,-1,-1,243,3,7,...,22,5960,A,-1.0,1.0,2.0,116.0,61.0,2.0,MASCULINO
9368,29049,2011,2,83,1,258,258,42,3,1,...,1,757,S/D,-1.0,-1.0,1.0,757.0,17.0,1.0,MASCULINO
5365,15407,2011,2,83,1,17,17,38,3,1,...,9,1430,A,-1.0,1.0,3.0,413.0,24.0,3.0,MASCULINO
18730,59467,2011,2,83,1,176,48,48,3,8,...,13,922,A,-1.0,1.0,3.0,530.0,18.0,1.0,MASCULINO

In [31]:
mayores1 = mayores[['persona_id','anio', 'edad', 'producciones_ult_4_anios', 'categoria_conicet_id']]
mayores1

       persona_id  anio  edad  producciones_ult_4_anios  categoria_conicet_id
2356         6522  2011    88                         8                   5.0
19486       63317  2011    85                         0                  -1.0
14466       44842  2011    84                        28                  -1.0
3397         9442  2011    84                        19                  -1.0
6372        18569  2011    84                        11                  -1.0
5453        15685  2011    83                        12                  -1.0
5316        15238  2011    83                        22                  -1.0
9368        29049  2011    83                         1                  -1.0
5365        15407  2011    83                         9                  -1.0
18730       59467  2011    83                        13                  -1.0

In [32]:
mix = pd.merge(mayores1, conicet, on = "categoria_conicet_id")
mix

,persona_id,anio,edad,producciones_ult_4_anios,categoria_conicet_id,categoria_conicet_descripcion
0,6522,2011,88,8,5.0,Investigador superior
1,63317,2011,85,0,-1.0,No pertenece a Conicet
2,44842,2011,84,28,-1.0,No pertenece a Conicet
3,9442,2011,84,19,-1.0,No pertenece a Conicet
4,18569,2011,84,11,-1.0,No pertenece a Conicet
5,15685,2011,83,12,-1.0,No pertenece a Conicet
6,15238,2011,83,22,-1.0,No pertenece a Conicet
7,29049,2011,83,1,-1.0,No pertenece a Conicet
8,15407,2011,83,9,-1.0,No pertenece a Conicet
9,59467,2011,83,13,-1.0,No pertenece a Conicet

In [33]:
mix.to_csv(r"mix.csv",sep=";")