In [1]:
import pandas as pd
una_serie = pd.Series([3, 7, 12, 15, 21], dtype=int)
otra_serie = pd.Series([1, 4, 10, 14, 19], dtype=int)

In [2]:
una_serie + otra_serie

0     4
1    11
2    22
3    29
4    40
dtype: int64

In [3]:
una_serie - otra_serie

0    2
1    3
2    2
3    1
4    2
dtype: int64

In [4]:
una_serie * otra_serie

0      3
1     28
2    120
3    210
4    399
dtype: int64

In [5]:
una_serie / otra_serie

0    3.000000
1    1.750000
2    1.200000
3    1.071429
4    1.105263
dtype: float64